.panel {
  display: grid;
}

.panel-item {
  text-align: center;
  padding: 30px 20px 30px 20px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 1em #e5e4e4;
}

.panel-item-title {
  margin: 10px;
  color: #474071;
  font-size: 14px;
  font-weight: 700;
}

.panel-item-count {
  font-size: 24px;
  font-weight: 600;
}

@media (max-width:2560px) { 
  .panel {
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width:1000px) {
  .panel {
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}