.countries {
  height: 60vh;
  overflow-y: auto;
  padding: 15px;
}

.country {
  display: flex;
  align-items: center;
}

.country-count {
  font-weight: 600;
  color: #5e5c6a;
  font-weight: bold;
}

.country-name {
  cursor: pointer;
  color: #474071;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 10px;
}


.search {
  padding: 10px;
}

.search-field {
  margin-bottom: 5px;
}

.search-field input {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: #eff3f6;
}

.search-field input:focus-visible {
  outline: none
}

.hide {
  display: none;
}

.show {
  display: flex;
}