#page-home {
  display: flex;
}

.wrapper {
  display: grid;
  padding: 20px;
  margin: auto;
  background-color: #fff;
  border-radius: 20px;
}

@media (max-width:480px) {
  .wrapper {
    grid-template-columns: 2fr;
  }
}

@media (min-width:1024px) { 
  .wrapper {
    grid-template-columns: 1fr 720px;
    grid-column-gap: 30px;
    margin: auto;
  }
}


